.DS_Store
Scrumdinger/.DS_Store
Scrumdinger.xcodeproj/project.xcworkspace/xcuserdata/nani.xcuserdatad/UserInterfaceState.xcuserstate
Scrumdinger.xcodeproj/xcuserdata/nani.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
